<!DOCTYPE html>
<html>
<head>
  <title>ScrivitoTwoColumns</title>
  <%= stylesheet_link_tag    "scrivito_two_columns/application", media: "all" %>
  <%= javascript_include_tag "scrivito_two_columns/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
